.interested {
    padding: 60px 0;
}
.interested .title-main {
	margin-bottom: 30px;
}
.interested ol {
	margin-bottom: 40px;
}
.interested ol li {
	margin-bottom: 5px;
}
/*form*/ 
fieldset {
	border: 1px dashed #ccc;
	padding: 15px;
	margin-bottom: 30px;
}
fieldset legend {
	padding: 0 10px;
	color: #e44d26;
}
fieldset div {
	margin-bottom: 20px;
}
input{
	
	padding-left: 10px;
	font-size: 0.8em;
}
input:not([type=radio]):not([type=radio]) {
	height: 34px;
}
input[type=text],
input[type=email],
input[type=password]
textarea {
	display: block;
	width: 100%;
}

input[type="radio"] {
	    display:none;
}	  

input[type="radio"] + label span{
    display:inline-block;
    padding: 8px;
    margin-right: 5px;
    vertical-align:middle;
    cursor:pointer;
    background-color: #ccc;
    color: gray;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 100%;
}

input[type="radio"]:checked + label span{
    background-color: #e44d26;
}

.label-block {
	display: block;
	margin-bottom: 5px;
}