@font-face{
	font-family: 'Open Sans';
	src: url("../fonts/OpensSans-Regular.ttf");
	font-style: normal;
}

body {
	/* espaçamento entre linhas */
	line-height: 1.5em; 
	font: italic bold 24px "Trebuchet MS", sans-serif;
}

.serif{
	font-family: "Times New Roman", Times, serif;
}
.sans-serif{
	font-family: Arial, Helvetica, sans-serif;
}
.monospace{
	font-family: "Courier New", Courier, monospace;
}

.personalizado {
	font-family: font-family: 'Open Sans';
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right: 
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.lowercase {
	text-transform: lowercase;
}

.link {
	/* underline */
	text-decoration: overline;
}